.moviesCardList {
    max-width: 1140px;
    margin: 0 auto 30px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    column-gap: 24px;
    row-gap: 30px;
}

@media screen and (max-width: 1158px) {
    .moviesCardList {
        max-width: calc(100% - 30px * 2);
    }
}

@media screen and (max-width: 900px) {
    .moviesCardList {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}

@media screen and (max-width: 768px) {
    .moviesCardList {
        column-gap: 30px;
    }
}