.notFound {
    max-width: 400px;
    height: 100vh;
    margin: 0 auto;

    position: relative;
}

.notFound__container {
    position: absolute;

    top: calc((100vh - 394px) / 2);
    width: 100%;
    height: 394px;
}

.notFound__title {
    color: #000;
    text-align: center;
    font-size: 140px;
    font-weight: 400;

    padding: 0 0 5px;
    margin: 0 auto;
}

.notFound__description {
    color: #000;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;

    margin: 0;
    padding: 0;
}

.notFound__return {
    border: none;
    background-color: transparent;

    color: #3456F3;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;

    margin: 184px 0 0;
    padding: 0;

    width: 100%;
}

.notFound__return:hover {
    cursor: pointer;
}

@media screen and (max-width: 450px) {
    .notFound__return {
        position: absolute;
        bottom: 30px;

        margin: 0;
    }

    .notFound__container {
        position: absolute;
    
        top: 329px;
        width: 100%;
        height: calc(100vh - 329px);
    }

    .notFound__title {
        font-size: 80px;
        padding: 0 0 10px;
    }

    .notFound__description {
        font-size: 12px;
    }
}