.promo {
    background: #073042;
    position: relative;
    height: 524px;
}

.promo__background {
    position: absolute;
    max-width: 320px;
    max-height: 320px;

    top: 82px;
    left: 480px;
}

.promo__title {
    color: #FFF;
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -2px;

    padding: 184px;
    margin: 0;
}