.searchForm {
    max-width: 1140px;
    margin: 80px auto 10px ;
}

.searchForm__container {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 83px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}