<section class="techs" id='techs'>
    <div class="techs__container">
         <BlockTitle title='Технологии' />
         <h3 class='techs__container__title'>7 технологий</h3>
         <p class='techs__container__text'>На курсе веб-разработки мы освоили технологии, которые применили в дипломном проекте.</p>
         <ul class='techs__container__technologies'>

                     <li class='techs__container__technology' key={index}>
                         <p class='techs__container__technology__text'>{technology}</p>
                     </li>

         </ul>
    </div>
 </section>