.authenticationForm {
    max-width: 396px;
    margin: 70px auto;
}

.authenticationForm__title {
    color: #000;
    font-size: 24px;
    font-weight: 500;

    padding: 0;
    margin: 40px 0;
}

.authenticationForm__form {
    display: flex;
    flex-direction: column;

    height: 380px;
}

.form {
    height: 266px;
}

.form__lable {
    color: #A0A0A0;
    font-size: 10px;
    font-weight: 400;

    padding: 0;
    margin: 0;
}

.form__input {
    border-radius: 8px;
    background: #F9F9F9;

    width: calc(100% - 30px);

    color: #000;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    
    padding: 15px;
    margin: 10px 0 20px;

    border: none;

    outline: none;

}

.form__input:last-of-type {
    margin-bottom: 0;
}

.form__error {
    color: #FF3055;
    font-size: 10px;
    font-weight: 400;

    margin: 0;
    padding: 10px 0 0;

    visibility: hidden;
}

.form__error_visible {
    visibility: visible;
}

.authenticationForm__button {
    width: 100%;

    border-radius: 3px;
    background: #3456F3;

    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 500;

    margin: 69px auto 16px;
    padding: 13px 0 15px;

    border: none;
}

.authenticationForm__links {
    display: flex;
    flex-direction: row;

    margin: 0 auto;

    justify-content: center;
    column-gap: 6px;
}

.authenticationForm__links__text {
    color: #A0A0A0;
    text-align: center;
    font-size: 14px;
    font-weight: 400;

    margin: 0;
    padding: 0;
}

.authenticationForm__links__link {
    color: #3456F3;
    text-align: center;
    font-size: 14px;
    font-weight: 400;

    margin: 0;
    padding: 0;
}

.authenticationForm__links__link:hover {
    cursor: pointer;
}