.footer {
    padding: 79px 0 20px;
}

.footer__conatiner {
    max-width: 1140px;
    margin: 0 auto;
}

.footer__title {
    color: #A0A0A0;
    text-align: center;
    font-size: 13px;
    font-weight: 400;

    margin: 0;
    padding: 0 0 20px;

    border-bottom: 1px solid #E8E8E8;

    text-align: center;
}

.footer__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-top: 20px;
}

.footer__info__copyright {
    color: #000;
    font-size: 13px;
    font-weight: 400;

    margin: 0;
    padding: 0;
}

.footer__info__copyright:hover {
    cursor: pointer;
}

.footer__info__links {
    display: flex;
    column-gap: 20px;
}

.footer__info__link {
    color: #000;
    font-size: 13px;
    font-weight: 400;

    margin: 0;
    padding: 0;

    text-decoration: none;
}

.footer__info__link:hover {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .footer__conatiner {
        max-width: calc(100% - 30px * 2);
    }
}

@media screen and (max-width: 360px) {
    .footer__conatiner {
        max-width: calc(100% - 10px * 2);
    }

    .footer__title {
        font-size: 12px;
        padding: 0 0 21px;
    }

    .footer__info {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;

        padding-top: 33px;
    }

    .footer__info__links {
        flex-direction: column;
        order: -1;
        text-align: center;
        row-gap: 13px;
    }

    .footer__info__link {
        font-size: 12px;
    }

    .footer__info__copyright {
        color: #A0A0A0;
        font-size: 12px;
    }
}