.aboutMe__container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 106px;
}

.aboutMe__profile__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 66px;
}

.aboutMe__profile__container__avatar {
    max-width: 270px;
    max-height: 327px;  

    border-radius: 10px;
    object-fit: cover;
}

.aboutMe__profile__container__info {
    max-width: 660px;
}

.aboutMe__profile__container__info__name {
    color: #000;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -2px;

    margin: 0;
    padding: 0 0 18px;
}

.aboutMe__profile__container__info__profession {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    font-weight: 500;
    line-height: 20px;

    margin: 0;
    padding: 0 0 26px;
}

.aboutMe__profile__container__info__description {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;

    margin: 0;
    padding: 0 0 99px;
}

.aboutMe__profile__container__info__github {
    color: #000;
    font-size: 14px;
    font-weight: 500;

    margin: 0;
    padding: 0;

    text-decoration: none;
}

.aboutMe__portfolio {
    color: #A0A0A0;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;

    padding: 100px 0 30px;
}

.aboutMe__portfolio__link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-bottom: 1px solid #E6E6E6;
}

.aboutMe__portfolio__link:last-of-type {
    border: none;
}

.aboutMe__portfolio__link__name {
    max-width: 880px;

    color: #000;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -1.2px;

    margin: 0;
    padding: 20px 0 19px;

    text-decoration: none;
}
