.aboutMe__container {
    max-width: 1140px;
    margin: 0 auto;
    padding-bottom: 125px;
}

.aboutMe__profile__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 66px;
}

.aboutMe__profile__container__avatar {
    width: 270px;
    height: 327px;  

    border-radius: 10px;
    object-fit: cover;
}

.aboutMe__profile__container__info {
    max-width: 660px;
}

.aboutMe__profile__container__info__name {
    color: #000;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -2px;

    margin: 0;
    padding: 0 0 18px;
}

.aboutMe__profile__container__info__profession {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;

    margin: 0;
    padding: 0 0 26px;
}

.aboutMe__profile__container__info__description {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;

    margin: 0;
    padding: 0 0 99px;
}

.aboutMe__profile__container__info__github {
    color: #000;
    font-size: 14px;
    font-weight: 500;

    margin: 0;
    padding: 0;

    text-decoration: none;
}

.aboutMe__portfolio {
    color: #A0A0A0;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;

    padding: 100px 0 50px;
    margin: 0;
}

.aboutMe__portfolio__link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-bottom: 1px solid #E6E6E6;

    padding-bottom: 19px;
}

.aboutMe__portfolio__link:last-of-type {
    border: none;
    padding-bottom: 0;
}

.aboutMe__portfolio__link__name {
    max-width: 880px;

    color: #000;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -1.2px;

    margin: 0;
    padding: 20px 0 0;

    text-decoration: none;
}

.aboutMe__portfolio__link__name:first {
    padding: 0;
}

.aboutMe__portfolio__link__arrow {
    width: 15px;
    height: 100%;

    padding: 40px 7px 0;
}

.aboutMe__portfolio__link__arrow:hover {
    cursor: pointer;
}

@media screen and (max-width: 1164px) {
    .aboutMe__container {
        width: calc(100% - 50px*2);
    }
}

@media screen and (max-width: 1055px) {
    .aboutMe__profile__container {
        column-gap: 49px;
    }
}

@media screen and (max-width: 768px) {
    .aboutMe__container {
        padding-bottom: 90px;
    }
    
    .aboutMe__profile__container__info__name {
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -1.6px;
        padding: 0 0 16px;
    }

    .aboutMe__profile__container__info__profession {
        font-size: 12px;
        line-height: 18px;
        padding: 0 0 20px;
    }

    .aboutMe__profile__container__info__description {
        font-size: 12px;
        line-height: 18px;
        padding: 0 0 87px;

        max-width: 364px;
    }

    .aboutMe__profile__container__avatar {
        width: 255px;
        height: 307px;
    }

    .aboutMe__portfolio {
        padding-top: 90px;
    }

    .aboutMe__portfolio__link__name {
        font-size: 28px;
    }

    .aboutMe__portfolio__link__arrow {
        padding-left: 6px;
        padding-right: 6px;
    }
}

@media screen and (max-width: 360px) {
    .aboutMe__container {
        width: calc(100% - 14px*2);
        padding-bottom: 70px;
    }

    .aboutMe__profile__container {
        flex-direction: column;

        margin-top: 60px;
    }

    .aboutMe__profile__container__avatar {
        order: -1;
        margin: 0 auto 40px;

        width: 100%;
        height: 352px;
    }

    .aboutMe__profile__container__info__name {
        font-size: 30px;
        letter-spacing: -1.2px;
        line-height: normal;

        padding-bottom: 20px;
    }

    .aboutMe__profile__container__info__profession {
        font-size: 11px;
        line-height: 16px;
    }

    .aboutMe__profile__container__info__description {
        font-size: 11px;
        line-height: 16px;

        padding-bottom: 40px;
    }

    .aboutMe__portfolio {
        padding: 70px 0 40px;

        font-size: 14px;
        line-height: 20px;
    }

    .aboutMe__portfolio__link__name {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.72px;

        padding: 20px 0 0;
    }

    .aboutMe__portfolio__link__arrow {
        padding-top: 28px;
    }
}
