.navTab {
    margin: 0 auto;
    max-width: 308px;
    padding-bottom: 30px;
}

.navTab__links {
   text-decoration: none;
   list-style: none;

   display: flex;
   flex-direction: row;

   column-gap: 10px;

   margin: 0;
   padding: 0;
}

.navTab__link {
    text-align: center;
    color: #FFF;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;

    margin: 0;
    padding: 10px 0;

    border-radius: 10px;
    background: #E8E8E8;
    width: 100%;
}